[container] {
  display: flex;
  flex-direction: column;
}

[transfer-item] {
  display: block;
  margin-bottom: 15px;
}

[month-label] {
  margin: 15px 0 30px 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
}
