<div inputs [formGroup]="form">
  <div form-header>
    <nz-radio-group  nzSize="large" [(ngModel)]="this.type" (ngModelChange)="formChanged()" [ngModelOptions]="{standalone: true}" nzButtonStyle="solid">
      <label nz-radio-button [nzValue]="IncomeOutcomeType.Income">
        <div type-label>
          <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
          <span>Income</span>
        </div>
      </label>
      <label nz-radio-button [nzValue]="IncomeOutcomeType.Outcome">
        <div type-label>
          <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
          <span>Outcome</span>
        </div>
      </label>
    </nz-radio-group>
    <i (click)="saveFormAsTemplate()" *ngIf="isFormEmpty() && saveEnabled" icon-button nz-icon nzType="save" nzTheme="outline"></i>
  </div>
  <div form-input-section>
    <span form-input-label>Name*</span>
    <input (ngModelChange)="formChanged()" background-input formControlName="name" nzSize="large" nz-input placeholder="..." />
  </div>
  <div flex>
    <div form-input-section>
      <span form-input-label>{{this.type == IncomeOutcomeType.Income ? 'Value' : 'Price'}}*</span>
      <nz-input-number
        (ngModelChange)="formChanged()"
        [nzDisabled]="currencyRates != null"
        background-input
        formControlName="value"
        price-input
        nzSize="large"
        [nzMin]="0.01"
        [nzStep]="0.01"
      ></nz-input-number>
    </div>
    <button *ngIf="currencyRates == null && conversionEnabled" (click)="convertButtonClicked()" currency-exchange-button nz-icon-button nz-button nzType="default">
      <i nz-icon nzType="dollar" nzTheme="outline"></i>
    </button>
    <button *ngIf="currencyRates != null" (click)="removeConversion()" currency-exchange-button nz-icon-button nz-button nzType="default">
      <i nz-icon nzType="close-circle" nzTheme="outline"></i>
    </button>
    <nz-tag currency-exchange-tag *ngIf="currencyRates != null" no-select  [nzColor]="'red'">{{currencyExchangeModel.value}} {{currencyExchangeModel.from}} -> {{currencyExchangeModel.to}} (Rate {{currencyRates.rate}})</nz-tag>
  </div>
  <div form-input-section>
    <span form-input-label>Description</span>
    <textarea (ngModelChange)="formChanged()" background-input formControlName="description" nzSize ="large" nz-input placeholder="..." [nzAutosize]="{ minRows: 5, maxRows: 5 }"></textarea>
  </div>
  <div *ngIf="this.type == IncomeOutcomeType.Outcome" form-input-section>
    <span form-input-label>Category*</span>
    <nz-select [(ngModel)]="category" (ngModelChange)="formChanged()" [ngModelOptions]="{standalone: true}" nzShowSearch nzAllowClear nzSize="large">
      <nz-option *ngFor="let option of categoryOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
    </nz-select>
  </div>
  <div form-input-section>
    <span form-input-label>Tags</span>

    <nz-select [(ngModel)]="tags" (ngModelChange)="formChanged()" [ngModelOptions]="{standalone: true}" nzSize="large" nzMode="tags">
      <nz-option *ngFor="let option of tagOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
    </nz-select>
  </div>
</div>
