[values-comparison-lines] {
  display: block;
  margin-bottom: 25px;
}

[categories-radar-comparison-container] {
  margin-top: 25px;
  border: 1px solid #f0f0f0;
  padding: 50px 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 50px #f0f1f2;
}
