<app-background-section>
  <div container>
    <div *ngIf="!isNoData()" daily-line-chart>
      <div actions>
        <nz-radio-group type-switch [(ngModel)]="type" (ngModelChange)="rebuildBarChart()" nzButtonStyle="solid">
          <label nz-radio-button [nzValue]="PeriodBarTypeEnum.All">All</label>
          <label nz-radio-button [nzValue]="PeriodBarTypeEnum.Income">Income</label>
          <label nz-radio-button [nzValue]="PeriodBarTypeEnum.Outcome">Outcome</label>
        </nz-radio-group>
      </div>
      <p-chart #barChart type="bar" [data]="barData" [options]="basicOptions"></p-chart>
    </div>
    <div no-select no-data-container *ngIf="isNoData()">
      <img src="./assets/images/empty-bar.svg" alt="">
    </div>
  </div>
</app-background-section>


