[container] {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

[load-more-container] {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

[filters] {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

[select-filter] {
  width: 300px;
  margin-left: 10px;
}

[clear-all-button] {
  margin-left: 10px
}

[total-panel] {
  margin-bottom: 25px;
}
