[container] {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

[header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[filters-button] {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 13px 25px;
  font-size: 15px;
  box-shadow: 0 0 50px #f0f1f2;
  display: flex;
  align-items: center;
}


[load-more-container] {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

[filters] {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 50px #f0f1f2;
  border: 1px solid #f0f0f0;
}

[filters-inputs] {
  display: flex;
  flex-direction: column;
}

[filter-label] {
  font-size: 15px;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 5px;
  color: black;
}

[filter] {
  width: 450px;
  margin-bottom: 20px
}

[total-panel] {
  margin-bottom: 25px;
}

[filter-actions] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

