@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=PT+Sans:wght@700&family=Titillium+Web:wght@700&display=swap');

* {
  font-family: "Inter", sans-serif;
}

[no-select] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


[flex] {
  display: flex;
}

[flex-column] {
  display: flex;
  flex-direction: column;
}
