[container] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[actions] {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

[filter] {
  margin-right: 25px;
}
