<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cailms-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/518e89f6-a6e3-4aa0-abdb-381cfa3c27e4/resourceGroups/dev-filps/providers/Microsoft.Web/sites/cailms-functions</ResourceId>
    <UserName>$cailms-functions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://cailms-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>