:host {
  display: block;
  width: 100%
}

[container] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

[switch-icon] {
  padding: 8px;
  border-radius: 5px;
}

[switch-icon]:not(.blocked):hover {
  color: black;
  cursor: pointer;
  background-color: #f5f5f5;
}

.blocked {
  color: #ececec;
}
