[container] {
  width: 100%;
  display: flex;
  flex-direction: column;
}

[section] {
  padding: 25px 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 50px #f0f1f2;
  width: fit-content;
  height: fit-content;
  border: 1px solid #f0f0f0;
}

[form] {
  display: flex;
}

[form-header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

[date-pick-section] {
  margin-right: 25px
}


[form-input-section] {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px
}

[form-input-label] {
  margin-bottom: 5px;
  font-size: 13px;
}

[currency-exchange-button] {
  margin-left: 10px;
  margin-top: 20px;
}

[currency-exchange-tag] {
  margin-left: 10px;
  height: fit-content;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 13px;
}

[price-input] {
  width: 120px;
}

[date-pick] {
  width: fit-content;
}

[inputs] {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 30px
}

[actions] {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 25px;
  margin-bottom: 50px;
}

nz-divider {
  margin: 4px 0;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
}

.add-item {
  flex: 0 0 auto;
  padding: 8px;
  display: block;
}

[type-label] {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

[type-label] i {
  margin-right: 10px
}

[saved-templates-container] {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

[saved-templates-container] [template-button] {
  margin-right: 20px;
  margin-bottom: 30px;
}
