[container] {
  width: 100%;
  display: flex;
  flex-direction: column;
}

[section] {
  padding: 25px 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 50px #f0f1f2;
  width: fit-content;
  height: fit-content;
  border: 1px solid #f0f0f0;
}



[date-pick-section] {
  margin-right: 25px
}

[date-pick] {
  width: fit-content;
}

[actions] {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 25px;
  margin-bottom: 50px;
}

nz-divider {
  margin: 4px 0;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
}

.add-item {
  flex: 0 0 auto;
  padding: 8px;
  display: block;
}


[saved-templates-container] {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

[saved-templates-container] [template-button] {
  margin-right: 20px;
  margin-bottom: 30px;
}

[form] {
  display: flex;
}
