<div *ngIf="isDataLoaded" container>
  <span no-select section-label>Transfer</span>

  <div saved-templates-container>
    <app-two-state-button
      template-button
      *ngFor="let template of savedTemplates"
      [model]="template"
      (deleteClicked)="deleteTemplate($event)"
      (renameClicked)="renameTemplate($event)"
      (stateChanged)="templateButtonStateChanged($event)"
      ></app-two-state-button>
  </div>

  <div form>
    <div section date-pick-section>
      <div date-pick>
        <app-calendar [(date)]="this.transfer.date" (dateChange)="dateChanged($event)"></app-calendar>
      </div>
    </div>
    <div *ngIf="isDataLoaded" section>
      <app-transfer-form
        [(transfer)]="this.transfer"
        (saveTemplate)="saveTemplate()"
        [categoryOptions]="this.categoryOptions"
        [tagOptions]="this.tagOptions"></app-transfer-form>
    </div>
  </div>
  <div actions>
    <button [disabled]="!isCreateUpdateButtonActive()" (click)="createTransfer()" nz-button default-button nzType="primary">
      <i *ngIf="transferId == null" nz-icon nzType="plus" nzTheme="outline"></i>
      <i *ngIf="transferId != null" nz-icon nzType="check" nzTheme="outline"></i>
      <span>{{this.transferId == null ? 'Create' : 'Update'}}</span>
    </button>
  </div>
</div>
