[container] {
  display: flex;
  flex-direction: column;
  width: 100%;
}

[label] {
  margin-bottom: 5px;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

input {
  border-radius: 5px;
}

[actions] {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

[actions] button {
  margin-left: 20px;
}
