<div container>
  <div header>
    <span logo no-select>Cailms</span>
    <nz-avatar [nzSize]="40" nzIcon="user"></nz-avatar>
  </div>
  <div content>
    <div date-container>
      <div months>
        <div month no-select selected-month full-year>Full</div>
        <div month no-select>Jan</div>
        <div month no-select>Feb</div>
        <div month no-select>Mar</div>
        <div month no-select >Apr</div>
        <div month no-select>May</div>
        <div month no-select>Jun</div>
        <div month no-select class="blocked">Jul</div>
        <div month no-select class="blocked">Aug</div>
        <div month no-select class="blocked">Sep</div>
        <div month no-select class="blocked">Oct</div>
        <div month no-select class="blocked">Nov</div>
        <div month no-select class="blocked">Dec</div>
      </div>
      <div year>
        <i year-switch nz-icon nzType="left" nzTheme="outline"></i>
        <span no-select year-value>2021</span>
        <i
          class="blocked"
          year-switch
          nz-icon
          nzType="right"
          nzTheme="outline"
        ></i>
      </div>
      <div buttons>
        <button main-button main-danger-button nz-button nzType="primary" nzDanger>
          <i nz-icon nzType="minus" nzTheme="outline"></i>
          <span>Spent</span>
        </button>
        <button main-button nz-button nzType="primary">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
          <span>Earned</span>
        </button>
      </div>
    </div>
    <div flex>
      <div total-container>
        <div total-values>
          <div total-value-container>
            <div no-select>SPENT</div>
            <div no-select total-value>40380.11</div>
          </div>
          <div total-value-container>
            <div no-select>EARNED</div>
            <div no-select total-value>85134.34</div>
          </div>
        </div>
        <div chart>
          <p-chart type="doughnut" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>
      </div>
      <div categories>
        <div flex-column>
          <div flex categorie-expense>
            <span categorie-label>Rent</span>
            <span categorie-value>1500</span>
          </div>
          <div flex categorie-expense>
            <span categorie-label>Food</span>
            <span categorie-value>384.90</span>
          </div>
          <div flex categorie-expense>
            <span categorie-label>Transport</span>
            <span categorie-value>113.50</span>
          </div>
          <div flex categorie-expense>
            <span categorie-label>Coffee</span>
            <span categorie-value>11</span>
          </div>
          <div flex categorie-expense>
            <span categorie-label>Subscriptions</span>
            <span categorie-value>11</span>
          </div>
          <div flex categorie-expense>
            <span categorie-label>Donations</span>
            <span categorie-value>11</span>
          </div>
          <div flex categorie-expense>
            <span categorie-label>No Idea</span>
            <span categorie-value>11</span>
          </div>
          <div flex categorie-expense>
            <span categorie-label>Personal</span>
            <span categorie-value>11</span>
          </div>
          <div flex categorie-expense>
            <span categorie-label>Education</span>
            <span categorie-value>11</span>
          </div>
        </div>
      </div>
    </div>
    <div daily-line-chart>
      <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
  </div>
</div>




