[header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[job-filters] {
  display: block;
  margin-bottom: 35px;
}

[jobs-list] {
  display: block;
  margin-bottom: 50px;
}
