<span no-select section-label>Dashboard</span>
<app-month-year-picker [(month)]="month" [(year)]="year" (dateChanged)="dateChanged()"></app-month-year-picker>
<div first-row>
  <app-total-income-outcome [data]="this.statistics.total" ></app-total-income-outcome>
  <app-categories-outcome categories-outcome-section [categoriesOutcome]="this.statistics.categories"></app-categories-outcome>
</div>
<span no-select section-label>{{ this.month == Month.Full ? 'Monthly' : 'Daily'}} Activity</span>
<app-period-income-outcome-bar-chart period-io-bar [data]="periodStatistics"></app-period-income-outcome-bar-chart>
