[first-row] {
  display: flex;
  margin-top: 20px
}

[categories-outcome-section] {
  margin-left: 25px;
  width: 845px;
}

[transfers-header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[transfers-list] {
  display: block;
  margin-bottom: 50px;
}
