[container] {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #f0f0f0;
  padding: 15px;
}

[section] {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

[label] {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  margin-right: 10px;
}

.outcome-value {
  color: #e60f00;
}

.income-value {
  color: #00b309
}
