[container] {
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  padding: 25px 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 50px #f0f1f2;
}

[container-header] {
  justify-content: space-between;
  padding: 0 15px 15px 15px;
  height: 50px;
}

[transfers-day] {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
}

[total-toggle-button] {
  cursor: pointer;
}


[hover-toggle-button] {
  display: none;
}

[container-header]:hover [hover-toggle-button] {
  display: block;
}

[day-total-panel] {
  margin-bottom: 10px;
}

[transfer-record] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

[transfer-record]:hover {
  background-color: #fafafa;
  border-radius: 10px;
  cursor: pointer;
}

[transfer-info] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



[transfer-record]:hover [transfer-actions]{
  display: flex;
}

[transfer-value] {
  font-size: 14px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

[transfer-item-name] {
  font-size: 15px;
}

[transfer-item-category] {
  color: #c6c6c6;
  font-size: 14px;
}

.outcome-value {
  color: #e60f00;
}

.income-value {
  color: #00b309
}

[no-data-container] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[no-data-container] img {
  margin: 100px 0 25px 0;
  width: 200px;
}

[no-data-container] span {
  color: #d9d9d9;
  font-size: 20px;
  text-transform: uppercase;
}
